# Default owners for everything, unless a later match takes precedence.
* @nkunal @sonamgupta21 @AndrewHess

# Backend
pkg/* @AndrewHess
cicd/* @AndrewHess
*.go @AndrewHess
*.mod @AndrewHess
*.sum @AndrewHess
*.proto @AndrewHess
*.peg @AndrewHess

# Frontend
static/* @sonamgupta21
static/assets/* @sonamgupta21
*.js @sonamgupta21
*.css @sonamgupta21
*.html @sonamgupta21

