{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "printWidth": 1000,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "endOfLine": "lf"
}
