static/js/navbar.js
static/js/settings.js
static/js/ingestion.js
static/js/all-slos.js
static/js/application-version.js
static/js/cluster-stats.js
static/js/common.js
static/js/diagnostics.js
static/js/query-stats.js