version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  setup-workflow:
    executor:
      name: python/default
      tag: "3.9"
    jobs:
      - path-filtering/filter:
          base-revision: develop
          config-path: .circleci/continue-config.yml
          mapping: |
            .* run-tests true
            pkg/config/version.go run-tests false
