
:root{
   --db-options-bg-color:var(--black-3);
}

[data-theme='light']{
    --db-options-bg-color:var(--white-3);
}
/* TOGGLE SWITCH  */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--db-options-bg-color);
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: var(--white-0);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--purple-1);
}

input:checked + .slider:before {
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.table-view-toggle-container,.graph-view-container{
    height: 32px;
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color-regular);
}
.graph-view-container .label{
    margin-left: 10px;
}
.metrics-query .query-box .options-container {
    display: none;
}

/* Metrics Explorer */
#metrics-container{
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    display: block;
    margin: 0;
}
#metrics-explorer .btn{
    border: 1px solid var(--border-btn-color);
    margin-right: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}
#metrics-explorer .btn .plus-icon{
    font-size: 26px;
    margin-bottom: 4px;
    margin-right: 6px;
}
.metrics-query,.formula-box{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
}
.metrics-query{
    width: 100%;
}
.metrics-query .query-box{
    align-items: flex-start;
    width: 100%;
}
.metrics-query .query-box .query-builder{
    flex-wrap: wrap;
    height: auto;
}

.metrics-query input,.formula-box input{
    color: var(--text-color) !important;
    outline: none;
    border-radius: 0;
}

.formula-box .formula{
    width: 200px;
    border-radius: 0 5px 5px 0;
}
.formula-box .formula:focus{
    border-radius: 0 5px 5px 0;
}
.formula-box .formula.error-border{
    border: 1px solid #EB364B;
    border-left: none ;
}
.formula-arrow{
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--purple-2);
    color: var(--white);
    border: none !important;
    font-weight: bolder;
    height: 32px;
    width: 32px;
    padding: 8px;
    transform: rotate(270deg);
}

.metrics-query input:focus{
    background: var(--ui-widget-bg-color);
    outline: none;
    border-radius: 0px;
}

.metrics-query div{
    display: flex;
    align-items: center;
}
.metrics-query .query-box div{
    border: 1px solid var(--border-btn-color);
    border-right: none;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}

.metrics-query .value-container{
    border-right: 1px solid var(--border-btn-color) !important;
}

.metrics-query div .tag, .metrics-query div .value{
    color: var(--text-color);
    padding: 4px 28px 4px 7px;
    margin-right: 8px;
    white-space: nowrap;
    position: relative;
}
.metrics-query div .tag{
    background-color: #ECF6FB;
}
.metrics-query div .value{
    background-color: #FBE7F4;
}
.tag-container,.value-container {
    min-width: 200px;
}

.everywhere,
.everything {
    height: 28px;
    border: none;
    border-radius: 0px;
    flex-grow: 1; 
    padding: 0 !important;
}

.ui-helper-hidden-accessible {
    display: none !important;
}

.metrics-query .query-name.active{
    padding: 12px;
    border-radius: 5px 0 0 5px;
    background-color: var(--purple-2);
    color: var(--white);
    border: none !important;
    font-weight: bold;
    cursor: pointer;
}
.metrics-query .query-name{
    background-color: var(--white);
    border-radius: 5px 0 0 5px;
    color: var(--black-3);
    font-weight: bold;
    cursor: pointer;
}

.metrics-query .metrics{
    min-width: 230px;
    width: auto !important;
    background-color: #FFFFCC;
}
.metrics-query .metrics:focus{
    background-color: #F6FCFF;
    outline: 1px solid #2D69BC;
}
.metrics-query .agg-function{
    width: 78px !important;
    padding: 12px;
    background-color: var(--drop-down-btn-bg-regular);
}
.metrics-query .agg-function:focus{
    background-color: var(--drop-down-btn-bg-regular);
}

.metrics-query .remove-query, .formula-box .remove-query{
    border-radius: 18px;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 2.5px;
    cursor: pointer;
    color: #fff;
    background: #656F76;
    font-weight: 600;
}
.metrics-query .remove-query.disabled,
.metrics-query .remove-query.disabled:hover{
    cursor: not-allowed;
    background: #a0a4a6;
    border-radius: 18px;
}

.metrics-query .remove-query:hover,
.formula-box .remove-query:hover{
    background: #EB364B;
    border-radius: 5px;
}
.metrics-graph-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 15px), 1fr));
    grid-gap: 20px; 
    border: none;
}

.metrics-graph, #merged-graph-container {
    height: 400px;
    border: 1px solid var(--border-btn-color);
    box-sizing: border-box; 
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.metrics-graph.full-width {
    grid-column: span 2; 
}
.metrics-graph div:first-child, .merged-graph-name{
    padding: 10px;
    border-bottom: 1px solid var(--border-btn-color);
    font-weight: 600;
}
#visualization-options div{
    margin-right: 24px;
    font-size: 12px;
    white-space: nowrap;
}
#visualization-options input{
    height: 24px !important;
    color: var(--text-color);
    width: 84px;
    padding: 7px;
}
.alias-box{
    margin-right: 10px;
}
.alias-box .as-btn,.metrics-raw-query,
.raw-query-btn{
    height: 32px;
    width: 38px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.alias-box .as-btn:hover,.metrics-raw-query:hover,
.raw-query-btn:hover{
    background-color: var(--purple-2);
    color: var(--white);
    cursor: pointer;
}

.alias-filling-box div{
    border: 1px solid var(--border-btn-color);
    height: 30px;
    width: 46px;
    display: flex;
    justify-content: center;
}
.alias-filling-box div:first-child{
    border-radius: 5px 0 0 5px;
    cursor: default;
}
.alias-filling-box div:last-child{
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 26px;
    padding-bottom: 2px;
}

.graph-canvas, .merged-graph{
    height: 100%;
    padding: 20px 10px 50px 20px
}


.metrics-query .query-box .tag-container:focus-within,  .everywhere:focus ,
.metrics-query .query-box .value-container:focus-within,  .everything:focus  {
    background: #F6FCFF !important;/* Change background color when input is focused */
}

.metrics-query .query-box .tag-container:focus-within,
.metrics-query .query-box .value-container:focus-within{
    border: 1px solid #2D69BC;
    background-color: #F6FCFF !important;
}

.metrics-query .tag .close, .metrics-query .value .close{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: -3px;
    right: 8px;
    cursor: pointer;
}

/* JQUERY AUTOCOMpLETE */
.ui-widget{
    height: auto !important;
    max-height: 260px;
    overflow: scroll;
}
.ui-widget.ui-widget-content{
    list-style-type: none;
    border-radius: 0px !important;
    width: fit-content;
    min-width: 233px;
}
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
  
.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    height: 34px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
  
.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #2D69BC;
    cursor: pointer;
    height: 34px;
}
  
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.formula-error-message{
    display: none;
    background-color: #EB364B;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    color: #fff;
    font-weight: bolder;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
    border: 1px solid #fff;
}
.show-functions{
    border-right: 1px solid var(--border-btn-color) !important;
    cursor: pointer;
    position: relative;
    border-radius: 0 5px 5px 0;
}
.show-functions img{
    height: 14px;
}

.functions-container{
    border :none !important;
    position: relative;
}

.functions-container::before {
    left: -7px;
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    border-bottom: 3px solid var(--border-btn-color);
    width: 12px;
    margin-left: 7px;

}
.selected-function .close{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 12px;
    margin-bottom: 3px;
}
.position-container ,.all-selected-functions,.query-builder,.raw-query{
    position: relative;
    padding: 0px !important;
    border: none !important;
}
.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 257px;
    padding: 0 !important;
    border:none !important;
    z-index: 999;
}
.raw-query{
    width: 90%;
}
#metrics-explorer .run-filter-btn {
    background-image: url("../assets/search-img.svg");
    height: 32px;
    width: 32px;
    background-color: var(--purple-2);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    border-radius: 0 5px 5px 0;
    border: none;
}