* {
    box-sizing: border-box;
}

:root {
    --complete-bg-img: url(../assets/check-icon-black.svg);
    --save-btn-img: url(../assets/save-icon.svg);
    --dashboard-btn-img: url(../assets/dashbaord-white-icon.svg);
    --alerting-btn-img: url(../assets/alerting-white-icon.svg);
}

[data-theme='light'] {
    --complete-bg-img: url(../assets/check-icon-light.svg);
    --save-btn-img: url(../assets/save-icon-light.svg);
    --dashboard-btn-img: url(../assets/dashboard-btn-light.svg);
    --alerting-btn-img: url(../assets/alerting-btn-light.svg);
}
#filter-container {
    margin: 0;
    margin-top: 10px;
    background-color: var(--top-bar-bg-color-regular);
    height: 40px;
    display: block;
}
#add-logs-to-db-btn,
#alert-from-logs-btn{
    height: 40px;
}
#avail-fields-btn {
    height: 40px;
}
#log-view {
    width: 120px;
    height: 40px;
    background-color: var(--drop-down-btn-bg-regular);
    border-radius: 5px;
    border: 1px solid var(--border-btn-color);
}
#log-opt-single-btn,
#log-opt-multi-btn,
#log-opt-table-btn{
    width: 32px;
    height: 32px;
}
.ui-autocomplete {
    width: 200px;
}

.group-by-reminder {
    background-color: var(--border-btn-color);
    color: var(--text-color);
    border-radius: 5px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1em;
    margin: 0 10px 0 50px;
}

.group-by-box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tags-input {
    display: flex;
    flex-direction: row;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 570px;
}

.filter-box ul {
    list-style: none;
    margin: 5px 0 0 0;
    width: 0;
    flex: 1;
    overflow-x: auto;
    padding-left: 5px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.filter-box ul::-webkit-scrollbar {
    height: 0;
}

.filter-box li {
    display: flex;
    flex-direction: row;
    background-color: var(--filter-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 2px 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 15px;
    border: 1px solid var(--border-switch);
}

.tags-input input[type="text"] {
    border: none;
    outline: none;
    height: 40px;
}

.filter-box input[type="text"]:focus {
    outline: none;
}

.delete-button {
    border: none;
    color: var(--purple-3);
    background: none;
}

.display-rule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.func-input {
    width: 500px;
}

.column-input {
    width: 500px;
}

.tags-list {
    display: flex;
    flex-direction: row;
}

.filter-box {
    border-style: solid;
    border-color: var(--border-btn-color);
    background: var(--hits-summary-bg-regular) !important;
    border-radius: 4px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.completed,
.cancel-enter,
.add-con {
    margin: 0 4px 0 0;
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--default-tab);
    color: var(--text-color);
}

.symbol,
.value-first,
.column-first {
    width: 120px;
    height: 32px;
    color: var(--text-color) !important;
    margin-right: 5px;
}

.symbol,
.value-first,
.column-first {
    border: 1px solid var(--border-switch);
}

.add-third {
    margin: -1px;
}

.filter-con {
    position: relative;
    width: 100%;
}

.third-enter {
    display: flex;
    height: 43px;
    flex-direction: row;
    justify-content: space-between;
}

.column-third {
    width: 100% !important;
    height: 30px;
    margin-right: 10px;
}

.third-box {
    width: 100%;
    margin: -1px;
}

.second-enter {
    margin-right: 10px;
}

.add-filter {
    position: absolute;
    top: 42px;
    border-style: solid;
    border-color: var(--border-switch);
    border-radius: 4px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    background-color: var(--border-btn-color);
    width: 100%;
    visibility: hidden;
    z-index: 100;
    font-size: 16px;
}

.ui-autocomplete {
    height: 150px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 3px !important;
    font-size: 14px !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ui-menu {
    width: 120px !important;
    font-size: 14px !important;
}

.ui-menu-item:hover {
    background-color: #6347D9 !important;
    transition-delay: 0S !important;
    border: none !important;
    font-size: 14px !important;
}

.ui-menu-item-wrapper:hover {
    background-color: #6347D9 !important;
    transition-delay: 0S !important;
    border: none !important;
}

.ui-menu-item .ui-menu-item-wrapper {
    background: var(--ui-widget-bg-color);
    color: var(--text-color);
}

.ui-tabs-tab {
    border-radius: 10px;
}

.custom-code-tab {
    border: 0 !important;
    font-size: 15px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}

.ui-tabs ui-tabs-nav li {
    margin-left: 17px !important;
    width: 121px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.query-text {
    height: 40px;
    width: 100%;
}

.search-img {
    height: 40px;
    width: 40px;
    background-image: url("../assets/search-img.svg");
    background-color: var(--border-btn-color);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.search-img:hover,
.search-img.active{
    background-color: var(--drop-down-btn-bg-hover);
}
.query-box {
    padding: 15px 24px 0 24px;
    display: flex;
    flex-direction: row;
}

.tab-list {
    margin: 18px 24px 0 23px !important;
    width: 190px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--border-switch);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 28px;
    top: 18px;
    width: 358px;
}

.tab-li {
    height: 32px;
    border-radius: 5px;
}

.tab-li-query {
    width: 125px;
}

.tab-li-code {
    width: 61px;
}

.ui-state-default {
    background-color: var(--default-tab) !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none !important;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: var(--border-switch) !important;
}

.ui-state-active {
    background-color: rgba(99, 71, 217, 0.15) !important;
    border: 1px solid var(--purple-1) !important;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: var(--text-color) !important;
}

.ui-state-hover {
    background-color: rgba(99, 71, 217, 0.15);
    border: 1px solid var(--purple-1);
}

.ui-tabs .ui-tabs-nav li {
    margin: 0;
}

#index-btn,
#date-picker-btn {
    padding: 0;
    font-size: 15px;
}

#index-btn {
    width: 89px;
}

.completed,
.cancel-enter {
    border: 1px solid var(--border-switch);
}

.add-con {
    border: 1px solid var(--border-btn-color);
}

.form-control,
.dropdown-toggle {
    border: 1px solid var(--border-btn-color) !important;
    font-size: 15px;
}

.form-control {
    border-radius: 5px 0 0 5px !important;
    border-right: 0;
}

.filter-info {
    box-shadow: 0px 2px 8px 0px var(--border-shadow) 29%;
    border: 1px solid var(--border-btn-color);
    height: 173px;
    border-radius: 10px;
    margin: 22px 24px 0 24px;
    padding: 20px;
}

.query-builder-text {
    color: var(--text-color);
}

.ui-widget-content {
    background-color: var(--bg-color);
}

.ui-autocomplete::-webkit-scrollbar {
    width: 0;
}
.completed{
    background-image: var(--complete-bg-img);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.select-box{
    border-color: var(--purple-1);
}
#available-indexes{
    width: 120px;
    overflow: hidden;
    transform: translate3d(0px, 42px, 0px);
}
.dropdown-menu{
    min-width: 0;
    padding: 0;
}
.index-dropdown-item{
    width: 89px;
}
.saveq-btn{
    background-image: var(--save-btn-img);
}
.add-logs-to-db-btn{
    background-image: var(--dashboard-btn-img);
}
.alert-from-logs-btn{
    background-image: var(--alerting-btn-img);
}
.below-btn-img{
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
}
.available-fields-dropdown-item{
    width: 165px !important;
    min-width: none;
    font-size: 16px;
}
.fields{
    margin-left: 10px;
}
.below-btn-img:hover,
.add-con:hover,
.cancel-enter:hover,
.completed:hover{
    background-color: var(--drop-down-btn-bg-hover);
}
