/* Add existing styles */
.summary {
  padding: 20px !important;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}



.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  border: none;
  background-color: transparent;
  color: #007bff;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
}

.pagination button:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.pagination button[disabled] {
  color: #ccc;
  cursor: not-allowed;
}

.firstdrop {
  padding: 0;
  margin-top: 0.5%;
}

.firstdrop select {
  padding: 4% !important;
  border-radius: 5px;
  border: 0.3px solid rgb(181, 181, 181);
}

.icon {
  visibility: hidden;
}
.checktimeopt{
  width: 100%;
    margin: 0;
    margin-top: 5px;
    width: 241px;
    background: var(--index-drop-down-item-inactive-bg-color);
    color: var(--index-drop-down-item-inactive-text-color);
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    padding: 4px 0;
    padding-left: 9px;
    font-weight: var(--fw-400);
    font-family: "DINpro", Arial, sans-serif;
    border-radius: 4px;
}
.checktimeopt:hover{
  background: var(--index-drop-down-item-hover-bg-color);
    color: var(--index-drop-down-item-hover-text-color);
}
.checktimeopt.active{
  background: var(--index-drop-down-item-active-bg-color);
  color: var(--index-drop-down-item-active-text-color);
}
#checktimeopts{
  width: 130px;
  background: var(--index-drop-down-box-bg-color);
  overflow: hidden;
  padding: 0px 10px 10px 10px;
  border: 1px solid var(--timepicker-border-color);
}
#checktimebtn{
  margin: 0;
  text-decoration: none;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 108px;
  margin-left: 16px;
}
#checktimebtn:hover{
  background: var(--drop-down-btn-bg-hover);
}
#checktimebtn.active{
  background: var(--drop-down-btn-bg-active) !important;
  outline: 1px solid var(--drop-down-btn-border-active);
  outline-offset: -1pt;
  padding-left: 0;
  padding-right: 5px;
  transform: rotate(180deg);
}
.searchcontainer{
  display:flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search1, .search2{
  width:50%;
}

.metric-container{
  display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: "DINpro", Arial, sans-serif;
}
.metric-stats{
  margin: auto;
  float: left;
  width: 95%;
}



