
:root{
    --subsection-border: var(--white-3);
    --search-input-border: var(--white-4);
    --graph-link: var(--white-3);
    --link-label: var(--white-0);
    --border-shadow: var(--shadow-1);
   --search-box-input: var(--black-2);
   --search-box-input-trace: var(--black-2);
   --sort-box: var(--black-2);
   --head-trace: var(--black-2);
}

[data-theme='light']{
    --subsection-border: var(--white-4);
    --search-input-border: var(--white-3);
    --graph-link: var(--white-4);
    --link-label: var(--black-2);
    --border-shadow: var(--shadow-2);
    --search-box-input: var(--white-1);
    --search-box-input-trace: var(--white-0);
    --sort-box: var(--white-0);
    --head-trace: var(--white-1);
}

.subsection-navbar {
    display: flex;
}

.subsection-buttons {
    margin-top: 22px;
    display: flex;
    height: 40px;
    border-radius: 5px;
    width: fit-content;
    align-items: center;
    background: var(--myOrg-input);
    padding: 4px;
}

.section-button {
    padding: 4px 10px 5px 10px;
    height: 32px;
    width: fit-content;
    border-radius: 5px;
    background: var(--myOrg-input);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.section-button a{
    text-decoration: none;
    color: var(--subsection-border);
}

.section-button.active a{
    color:  var(--datatable-header-text-color);
    font-weight: 400;
}

.section-button.active {
    height: 32px;
    border: 1px solid #6347D9;
    background: var(--tab-active-background);
}

.search-input{
    border-radius: 5px;
    border: 1px solid var(--search-input-border);
    background: var(--search-bar-bg);
    height: 40px;
    font-size: 16px;
}

.p-20{
    padding: 20px;
}

/* Dependency Graph */
#dependency-graph-container,#error-msg-container {
    margin-top: 30px;
    height: 100%; 
    width: 100%;
}

#dependency-graph-container svg ,#error-msg-container{
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
    background-color: var(--black1-to-white0);
    border: 1px solid var(--search-input-border);
    border-radius: 10px;
}

#error-msg-container p{
    text-align: center;
    font-size: 24px;
    line-height: 31px;
    font-weight: var(--fw-500);
    color: var(--empty-response-text-color);
    margin: auto ;
    margin-top: 50px;
}

#arrowhead path {
    fill: var(--graph-link);
    stroke: none;
}

.line {
    stroke: var(--graph-link);
    stroke-width: 1.2;
}

.label {
    text-anchor: end;
    fill: var(--graph-link);
    font-size: 20px;
}

.link-label {
    text-anchor: middle;
    fill: var(--link-label);
    font-weight: bold;
    font-size: 20px;
}

/* Service Health  */
#tracing-container #ag-grid{
    border: 1px solid var(--search-input-border);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

#tracing-container .ag-header-viewport,
#tracing-container .ag-header-cell{
  background-color: var(--alerting-table-bg-color);
}

#tracing-container .ag-row-position-absolute::after{
  content: '';
  position: absolute;
  left: 10px;
  width: 98%;
  height: 1px;
  background-color: var(--alerting-table-line-color);
  bottom: 0;
}

#tracing-container .ag-theme-mycustomtheme .ag-root-wrapper-body, #tracing-container .ag-theme-mycustomtheme .ag-center-cols-container  {
    background-color: var(--black1-to-white0) !important;
}

#tracing-container #ag-grid .ag-row:hover {
    background: var(--alerting-table-hover);
    cursor: pointer;
}

.service-name{
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 0;
}

.service-health-text{
    font-size: 22px;
    color: #6F6B7B;
    cursor: pointer;
    margin-bottom: 0;
}

#one-service-overview .chart-container{
    width: 49%;
}

#one-service-overview .chart_container{
    width: 100%;
}
#date-picker-btn {
    width: 100% !important;
    justify-content: space-between;
}

.spans-box,
.graph-info,
.sorts-method,
.warn-content,
.warn-head,
.page-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-block {
    margin-top: 20px;
}

.dropdown-box,
.dropdown-sort-box,
.dropdown-download-box,
.input-box,
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 620px;
    width: 32%;
    min-width: 270px;
}

.warn-box,
.section-center,
.graph-info,
.search {
    border: 1px solid var(--border-btn-color);
    box-shadow: 0px 2px 8px 0px var(--border-shadow);
    border-radius: 10px;
    background-color: var(--default-tab);
}

.duration {
    display: flex;
    flex-direction: row;
}

.right-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 68%;
}

.section-center {
    width: 100%;
    margin-top: 25px;
    height: 280px;
}

.warn-bottom {
    margin-top: 5px;
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.warn-bottom::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.warn-head {
    background-color: var(--head-trace);
    height: 30%;
    align-items: center;
    font-size: 1rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

.graph-info {
    height: 66px;
    align-items: center;
    padding: 0 20px;
}

input.form-control {
    background: var(--search-box-input) !important;
    border: 1px solid var(--border-btn-color) !important;
}

.download-trace {
    background: var(--sort-box) !important;
    border: 1px solid var(--border-btn-color) !important;
    border-radius: 5px;
    height: 40px;
    color: var(--text-color);
    font-size: 1rem;
}

.download-trace {
    width: 150px;
}

.graph-show {
    width: 100%;
    height: 100%;
}

.dropdown-box,
.input-box,
.search-trace-btn {
    margin-top: 14px;
}

.sort-dropdown {
    width: 100px;
}

.tags-second {
    margin-left: 10px;
}

.search-text,
.traces-number {
    font-weight: 600;
    font-size: 20px;
}

.sorts-method {
    align-items: center;
    width: 380px;
}

.dropdown-download-box {
    margin-top: 0;
    width: 160px;
}

.dropdown-sort-box {
    margin-top: 0;
    width: 150px;
}

.form-control {
    height: 40px;
}

.lookback {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.search-trace-btn-box {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.search-trace-btn {
    background-color: var(--purple-1);
    border: none;
    color: var(--white) !important;
    width: 48%;
    height: 40px;
}

.empty-result-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--empty-response-text-color);
    height: 100%;
    font-size: 22px;
}

.warn-box {
    height: 150px;
    margin-top: 20px;
}

.error-span,
.total-span {
    width: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spans-box {
    width: 220px;
    height: 32px;
}

.error-span {
    border: 1px solid var(--error-trace);
    color: var(--error-trace);
    background: var(--trace-error-shadow);
}

.total-span {
    border: 1px solid var(--border-switch);
    background-color: var(--table-head-bg-color);
    color: var(--text-color);
}

.warn-content {
    padding: 12px 15px;
    font-size: 1rem;
    height: 70%;
}

.warn-content-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
}

.how-long-time {
    color: var(--border-switch);
}

.search-trace-btn:hover,
.search-trace-btn.active {
    background-color: var(--btn-hover-or-click-bg-color);
}
.downloadresult-btn,
.mostrecent-btn {
    background-color: var(--search-box-input-trace)
}

.span-id-text {
    color: var(--subsection-border);
}