div#download-info {
    display: none;
    width: 404px;
    height: 70px;
    margin: 30px;
    padding: 0;
}
.name-info{
    width: 404px;
    height: 50px;
    border-radius: 5px;
}
.ui-dialog .ui-dialog-buttonpane{
    margin: 20px 30px 0 20px !important;
}
.ui-draggable .ui-dialog-titlebar{
    padding: 22px 0 10px 20px !important;
    background-color: var(--bg-color);
}