name: Format and Lint the JS code


on:
  push:
    branches:
      - 'JS_code_formatting'


jobs:
  format:
    runs-on: ubuntu-latest
    name: Format Files
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: "18.18.0"
      - run: npm ci
      - run: npm run prettier:format
      - run: npm run lint:js
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        with:
          commit_message: "github actions: style: format JS files"
          branch: ${{ github.head_ref }}
