name: Format the JS code

on: [push]

jobs:
  check-changed-files:
    uses: ./.github/workflows/check-changed-files.yml
  format:
    runs-on: ubuntu-latest
    name: Prettier Format JS code Files
    needs: check-changed-files
    if: ${{ needs.check-changed-files.outputs.skip_tests != 'true'  && github.event.pull_request.base.ref != 'main' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.18.0"
      - run: npm ci
      - run: npm run prettier:format
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        with:
          commit_message: "github actions: style: format files"
