name: siglens-lint-ut
on: [pull_request]
jobs:
  golang-cicd:
    if: '! github.event.pull_request.draft'
    name: golang-cicd
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - name: Check goimports
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          export PATH=$PATH:$(go env GOPATH)/bin
          if [[ -n $(goimports -d .) ]]; then
            echo "Go code is not formatted with goimports"
            exit 1
          fi
      - name: Build
        run: go build ./...
      - name: Run Unit Tests
        run: go test ./...
      - name: Run Coverage
        run: go test ./... -coverprofile=coverage.txt -covermode=atomic
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
           CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}            
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: ./
          version: latest
          skip-pkg-cache: true
          skip-build-cache: true

  jsformat-lint:
    runs-on: ubuntu-latest
    name: Format Files
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: "18.18.0"
      - run: npm ci
      - run: npm run prettier:format
      - run: npm run lint:js
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        with:
          commit_message: "github actions: style: format JS files"
          branch: ${{ github.head_ref }}

